/*--------------------------------------------*
basic style admin page
*--------------------------------------------*/
.adminTable th {
  border-bottom: 1px solid black;
}

.admin-link,
.create-button {
  color: rgb(219, 157, 12);
  border-bottom: 1px solid rgb(219, 157, 12);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

.admin-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: 10px;
  border-radius: 0;
  transition: none;
  color: rgb(219, 157, 12);
  border-bottom: 1px solid rgb(219, 157, 12);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  float: right;
}

.admin-link:hover {
  color: rgb(15, 25, 41, 74%);
  text-decoration: none;
  border-bottom: 1px solid rgb(15, 25, 41, 74%);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

.admin-link-small {
  font-size: 13px;
}

.admin-link-large {
  font-size: 140%;
  margin-bottom: 14px;
}

.admin-link-right {
  float: right;
}

.form-control {
  float: right;
}

.top-area {
  margin-top: 1rem;
}

div .create-button {
  background-color: transparent;
}

.admin-form-control {
  width: 100%;
}
