/*--------------------------------------------*
basic style admin page
*--------------------------------------------*/
.adminTable th {
  border-bottom: 1px solid black;
}

.table td.icon-row {
  padding-right: 0;
}

.create-button {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgb(219, 157, 12);
  line-height: 2.3;
  color: rgb(219, 157, 12);
  margin-left: 0.7rem;
  padding: 0;
  border-radius: 0;
  transition: none;
  height: 32px;
  font-size: 110%;
  opacity: 1 !important;
}

.create-button:hover,
.create-button:active,
.admin-button:hover,
.admin-button:active {
  background-color: transparent;
  opacity: 0.5 !important;
}

.admin-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: 10px;
  border-radius: 0;
  transition: none;
  color: rgb(219, 157, 12);
  border-bottom: 1px solid rgb(219, 157, 12);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  float: right;
}

a.admin-link:hover > svg > path {
  fill: rgb(15, 25, 41);
}

svg {
  padding-right: 5px;
}

.form-control-admin {
  border-color: rgb(15, 25, 41, 10%);
  display: block;
  float: right;
  margin-top: 0.6rem;
}

.admin-link {
  display: inline-block;
  padding-right: 8px;
}

.admin-link-edit {
  height: 30px;
}

.admin-link-delete {
  height: 30px;
}

.admin-link-role {
  height: 34px;
}

.admin-link-small {
  font-size: 13px;
}

.admin-link-large {
  font-size: 140%;
  margin-bottom: 14px;
}

.admin-link-right {
  float: right;
}

.form-control-admin {
  float: right;
}

.city-name-label {
  margin-left: 15px;
}

.top-area {
  margin-top: 1rem;
}

div .create-button {
  background-color: transparent;
}

.admin-form-control.form-control {
  width: 90%;
  margin-top: 1%;
  margin-left: 5px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: rgb(15, 25, 41, 10%);
  border-bottom-color: transparent;
}
.nav-tabs .nav-link:hover {
  border-color: rgb(15, 25, 41, 10%);
  border-bottom-color: transparent;
}

.admin-cursor:hover > svg > path {
  cursor: pointer;
  fill: rgb(15, 25, 41, 74%);
}

.checkbox-container {
  margin-left: 5px;
}

.dropdown-toggle::after {
  margin-left: 8px;
  width: 11px;
  height: auto;
}

.tooltip-inner {
  text-align: left;
  background-color: rgb(15, 25, 41, 100%);
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .form-control-admin {
    width: 130px;
  }

  td {
    font-size: 11pt;
  }

  input#title {
    float: right;
  }

  .admin-form-control.form-control {
    float: right;
    width: 85%;
  }

  .checkbox-container {
    width: 85%;
    float: right;
  }

  label.filter-cities {
    font-size: 10pt;
  }

  .dropdown-toggle::after {
    margin-left: 40px;
    width: 11px;
    height: auto;
    margin-top: 10px;
  }

  .filter-button-edit {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  .event-edit-txt {
    max-width: 200px !important;
    min-width: 200px !important;
  }

  .event-image {
    float: right;
    margin-bottom: 2%;
    width: 85% !important;
  }

  label.picture-button-create {
    float: left;
    left: 17px;
    font-size: 12pt;
  }
}

/** Events admin*/
.event-edit-row {
  margin: 1px 20px;
  justify-content: flex-end;
}
.event-edit-txt {
  float: right;
  max-width: 240px;
  min-width: 240px;
}

.event-edit-picture-input {
  float: right;
  max-width: 240px;
  min-width: 240px;
  color: rgb(219, 157, 12);
  border: none;
  padding: 0;
  border-radius: 0;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  transition: none;
  margin-top: 0.5rem;
}

.event-edit-picture-input:hover,
.event-edit-picture-input:active {
  background-color: transparent;
  color: rgb(15, 25, 41, 74%);
}

.event-edit-image {
  float: right;
  max-width: 240px;
  min-width: 240px;
  max-height: 90px;
}

.past-events {
  float: right;
}

.past-event-txt {
  font-size: 94%;
  margin-top: -20px;
}

.admin-form-control.description-area {
  height: 150px;
}

.filter-button-edit {
  padding-left: 60px;
}

.picture-button-create {
  float: left;
  position: relative;
  right: 10px;
}

.event-image {
  position: relative;
  top: 7px;
  margin-bottom: 5px;
  margin-left: 5px;
}
