/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #474f5a;
  z-index: 100;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #db9d0c;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 10px;
  width: 20px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #474f5a;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  font-family: helveticaNeueLtThinCn;
  font-size: 18pt;
}

.menu-item a {
  color: white;
}

/*-------------------------------------------*
    basic style sidedrawer
*-------------------------------------------*/

.side-drawer {
  height: 100%;
  background: #474f5a;
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  z-index: 200;
  transform: translateX(-100%);
  /*transition: transform 0.3s ease-out;*/
}

.navigation {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-bottom: 1rem;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer.close {
  transform: translateX(-100);
  /*transition: opacity 0.3s ease-in;*/
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
  padding-bottom: 1rem;
}

.side-drawer a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.side-drawer a:hover {
  text-decoration: none;
}

.navigation-user-editlink {
  text-decoration: underline;
}

.navigation-user-editlink:hover {
  text-decoration: underline;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #db9d0c;
}

.navigation-user {
  margin-top: 3rem;
  text-align: center;
}

.navigation-user-picture {
  padding-left: auto;
  padding-right: auto;
}

.navigation-user-name {
  margin-top: 0.5rem;
}

.navbar-desktop-extended-logo {
  height: 26px;
  width: 24px;
  object-fit: none;
  text-align: center;
}

.navbar-desktop-extended-logo path {
  stroke: none;
}

.side-drawer a {
  font-family: helveticaNeueLtThinCn;
  font-size: 18pt;
}

.side-drawer a:hover > svg,
.side-drawer a:active > svg,
.side-drawer a:hover > svg > path,
.side-drawer a:active > svg > path {
  stroke: none;
  fill: #db9d0c;
}

.navigation-links {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  width: 100%;
  float: left;
}

.navigation-links-nav > ul > li {
  margin: 0.5rem 0;
  padding-bottom: 1rem;
}

.navigation-links-nav > ul {
  padding-inline-start: 0px;
  padding-left: 2rem;
  margin: 0;
  padding-bottom: 0;
}

.navigation-links-logo {
  margin-bottom: 1rem;
  padding-left: auto;
  padding-right: auto;
}

.navigation-links-button {
  padding-left: 2rem;
}

.navigation-logo-container {
  height: 98px;
  text-align: center;
}

.navigation-logo {
  padding-top: 1rem;
}

@media (min-width: 684px) {
  .side-drawer {
    background: #474f5a;
  }
}
