/*-------------------------------------------*
    basic style toggle button
*-------------------------------------------*/

.toggle-button {
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  padding: 0;
  margin-top: 22px;
  margin-left: 4px;
}

.toggle-button-arrow {
  margin-left: 250px;
}

button.toggle-button:hover > svg.svg-svg > g.path-svg > rect {
  fill: #db9d0c !important;
  background-color: aquamarine;
}

.toggle-button_line {
  width: 30px;
  height: 2px;
  background: white;
}
