/*Single-Event style*/
.event-page-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.event-image,
#event-image {
  margin-bottom: 2rem;
  display: block;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.date {
  padding-left: 0.5em;
  padding-right: 3.5em;
  opacity: 0.6;
  color: #0f1929;
}

.event-date {
  text-align: center;
  margin: auto;
  margin-top: 12px;
  margin-left: 12px;
  width: 100%;
  min-width: 143px;
  max-width: 143px;
}

.overflow {
  overflow: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.event-infos {
  display: flex;
  justify-content: center;
  padding-left: 3.5em;
  padding-right: 3.5em;
  text-align: justify;
  line-height: 1.5em;
}

.event-infos-attendees {
  padding-left: 0em;
}

.event-title-infos {
  display: inline;
  justify-content: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: left;
}

.event-title {
  font-size: 38px;
}

.event-time {
  font-size: 22px;
}

.event-location {
  font-size: 22px;
}

.event-description-title {
  margin-top: 1.4em;
  margin-bottom: 0.5em;
  font-size: 26px;
  display: block;
  white-space: normal;
}

.event-description {
  margin-top: 18px;
  font-size: 18px;
  display: block;
  white-space: normal;
}

.event-description-additional {
  margin-top: 2px;
  font-size: 20px;
  display: block;
  white-space: normal;
}

.event-anmeldung {
  display: flex;
  justify-content: right;
  padding-right: 3.5em;
  padding-top: -5em;
  padding-bottom: 0.8em;
}

.event-month {
  font-size: 26px;
  margin-bottom: -12px;
}

.event-day {
  font-size: 60px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.event-weekDay {
  font-size: 22px;
}

/*Buttons*/
.button-attending {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgb(219, 157, 12);
  color: rgb(219, 157, 12);
  padding: 0;
  border-radius: 0;
  transition: none;
  height: 32px;
  margin-bottom: 10px;
  font-size: 140%;
  float: right;

  margin-left: 16px;
  margin-top: 8px;
}

.button-attending:active,
.button-attending:hover {
  background-color: transparent;
  opacity: 0.6;
  border-bottom: 1px solid rgb(219, 157, 12);
  color: rgb(219, 157, 12);
}

.event-amount-attendence {
  margin-right: 0px;
  font-size: 18px;
}

@media only screen and (max-width: 992px) {
  .event-title {
    font-size: 30px;
  }

  .event-description-title {
    margin-top: 0em;
  }

  .event-month {
    font-size: 22px;
    margin-top: 5px;
  }

  .event-day {
    font-size: 38px;
  }

  .event-weekDay {
    font-size: 18px;
  }

  .event-location {
    font-size: 18px;
  }

  .event-time {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .event-infos {
    padding-left: 1em;
    padding-right: 1em;
  }

  .date {
    padding-left: 0em;
    padding-right: 0em;
  }

  .event-date {
    text-align: left;
    margin: auto;
    margin-left: 25px;
  }

  .event-anmeldung {
    padding-right: 0em;
    text-align: left;
  }

  .event-amount-attendence {
    margin-left: 16px;
  }

  .overflow {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .event-month {
    font-size: 22px;
  }

  .event-day {
    font-size: 35px;
  }

  .event-weekDay {
    font-size: 18px;
  }

  .event-title {
    font-size: 28px;
    line-height: 0.8em;
    margin-top: 1em;
  }

  .event-time {
    font-size: 18px;
  }

  .event-location {
    font-size: 18px;
  }

  .event-description-title {
    margin-top: 0.5em;
  }

  .event-description-additional {
    line-height: 1em;
    font-size: 18px;
  }

  .button-attending {
    margin-top: 1.4em;
  }
}

@media only screen and (max-width: 540px) {
  .event-infos {
    padding-left: 0em;
    padding-right: 0em;
  }

  .event-anmeldung {
    padding-left: 0em;
    padding-right: 0em;
  }

  .button-attending {
    margin-top: 1em;
    margin-left: 0px;
    margin-right: 16px;
  }

  .event-amount-attendence {
    margin-left: 0px;
  }

  .event-date {
    text-align: left;
    margin: auto;
    margin-left: 0px;
  }

  .date {
    padding-left: 0em;
    padding-right: 0em;
  }

  .overflow {
    padding-left: 0em;
    padding-right: 0em;
    margin-top: -0.5em;
  }

  .event-title {
    margin-top: 1em;
    line-height: 1.2em;
  }

  .event-description-title {
    font-size: 24px;
  }

  .event-description-additional {
    font-size: 16px;
  }

  .event-description {
    font-size: 16px;
  }
}

/*Event-Card style*/

.event-card {
  display: flex;
  justify-content: center;
  border: 0px solid white;
  min-width: 300px;
  max-width: 700px;
  min-height: 100px;
  max-height: 190px;
  border-radius: 0px;
  margin: 9px;
}

.event-card-date {
  text-align: center;
  margin: auto;
  margin-top: 13px;
  margin-left: 12px;
  width: 100%;
  min-width: 143px;
  max-width: 143px;
}

.event-card-content {
  margin-left: 0pt;
  margin-top: 12pt;
}

.event-card-month {
  font-size: 27px;
  margin-top: 0px;
  margin-bottom: -20px;
}

.event-card-day {
  font-size: 60px;
  margin-top: 6px;
  margin-bottom: -7px;
}

.event-card-weekDay {
  font-size: 20px;
}

.event-card-location {
  margin-top: -15px;
  font-size: 22px;
}

.event-card-title {
  font-size: 27px;
  white-space: nowrap;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.event-card-time {
  margin-top: -5px;
  font-size: 20px;
}

.event-card-description {
  margin-top: 8px;
  font-size: 18px;
  display: block;
  width: 450px;
  min-height: 54px;
  max-height: 54px;
  line-height: 1.3em;
}

.event-card-link {
  position: static;
  margin-left: 485px;
  margin-top: -35px;
  white-space: nowrap;
}

.event-card-location-icon {
  margin-top: 10em;
}

@media only screen and (min-width: 760px) {
  .event-card {
    min-width: 700px;
    min-height: 190px;
  }
}

@media only screen and (max-width: 760px) {
  .event-card {
    max-width: 450px;
    max-height: 190px;
  }

  .event-card-date {
    min-width: 105px;
    max-width: 105px;
  }

  .event-card-description {
    display: none;
  }

  .event-card-title {
    max-width: 230px;
    white-space: normal;
    margin-bottom: 18px;
    word-wrap: break-word;
    font-size: 22px;
  }

  .event-card-link {
    margin-left: 255px;
    white-space: nowrap;
    margin-top: 0.4em;
  }

  .event-card-month {
    font-size: 22px;
  }

  .event-card-day {
    font-size: 55px;
  }

  .event-card-weekDay {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .event-card {
    max-width: 305px;
    max-height: 165px;
  }

  .event-card-date {
    margin-top: 26px;
    width: 100%;
    max-width: 60px;
    max-width: 60px;
    margin-left: -12pt;
  }

  .event-card-description {
    display: none;
  }

  .event-card-month {
    font-size: 18px;
  }

  .event-card-day {
    font-size: 40px;
  }

  .event-card-weekDay {
    font-size: 16px;
  }

  .event-card-title {
    font-size: 18px;
    max-width: 158px;
    white-space: normal;
    margin-bottom: 18px;
    word-break: break-all;
  }

  .event-card-location {
    margin-top: -15px;
    font-size: 15px;
  }

  .event-card-time {
    margin-top: -5px;
    font-size: 15px;
  }

  .event-card-content {
    margin-top: 1.6em;
    margin-right: -2em;
  }

  .event-card-link {
    margin-left: 110px;
    white-space: nowrap;
  }
}

.event-arrow {
  height: 25px;
  width: 24px;
  margin-top: -2rem !important;
  margin-left: 1.6rem !important;
}
