.event-page-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.event-image,
#event-image {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.event-date {
}

.event-title {
  font-size: 2em;
}

.event-dateDay {
  font-size: 2em;
}

.event-dateweekday {
}

.dateMonth {
}
