/*MemberPage*/

.member-logo {
  min-height: 66px;
  min-width: 57px;
  max-height: 66px;
  max-width: 57px;
  margin-top: -100px;
}

.member-page-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

/*SearchFieldMember*/

.filter-icon {
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -14px;
  justify-content: center;
}

.filter-button {
  border: 1px solid rgb(15, 25, 41, 0%);
  background-color: rgb(15, 25, 41, 0%);
  width: 28px;
  height: 28px;
  margin-top: -8px;
  margin-left: 0px;
  transition-duration: 0.4s;
}

.filter-button:hover {
  background-color: rgb(15, 25, 41, 0%);
}

.filter-button svg {
  stroke: #656c77;
}

.filter-button:hover > svg {
  stroke: rgb(219, 157, 12);
}

.filter-button:active {
  box-shadow: none;
}

.filter-button:focus {
  box-shadow: none;
}

.search-field-member {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-top: -6px;
}

.search-input {
  background: 'none';
  border: 'none';
  font-family: Helvetica, sans-serif;
  font-weight: 0;
  font-size: 22px;
  color: #656c77;
  margin-top: -50px;
  margin-left: 5px;
  width: 76%;
}

.testerSearch {
  justify-content: center;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #656c77;
  margin-top: -17px;
  padding: 0;
  margin-top: 0px;
  width: 100%;
}

.search-field {
  display: flex;
  justify-content: center;
}

/*MemberCard*/

* {
  box-sizing: border-box;
}
.member-card-row {
  display: block;
}
.member-card-col {
  justify-content: center;
}
.member-cards-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.member-cards-row::after {
  content: '';
}

.member-card {
  display: flex;
  justify-content: center;
  border: 0px solid white;
  min-width: 244px;
  max-width: 244px;
  min-height: 161px;
  max-height: 161px;
  border-radius: 0px;
  margin: 9px;
}

.overflow {
  height: auto;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 0px;
}

.cardbody {
  border: none;
}

.card-image {
  border-radius: 50%;
  width: 100px;
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
  margin-left: -7px;
  margin-top: 0px;
}

.card-name {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Helvetica;
  font-size: 14pt;
  margin-left: 75px;
  margin-top: -30px;
}

.mail-icon {
  min-width: 21px;
  max-width: 21px;
  min-height: 18px;
  max-height: 18px;
  margin-top: 11px;
  margin-left: -7px;
}

.card-text-mail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Helvetica;
  font-size: 11.5pt;
  margin-top: 21px;
  margin-left: 25px;
}

a[href^='mailto:'] {
  color: black;
  text-decoration: none;
}

.phone-icon {
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
  margin-top: 7px;
  margin-left: -7px;
}

.card-text-phone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Helvetica;
  font-size: 11.5pt;
  margin-top: 48px;
  margin-left: 25px;
}

a[href^='tel:'] {
  color: black;
  text-decoration: none;
}

.profile-link {
  margin-left: 38px;
  margin-top: -12px;
}

.profile-text {
  color: rgb(219, 157, 12);
  border-bottom: 1px solid rgb(219, 157, 12);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 11pt;
  margin-left: 116px;
}

.profile-text:hover {
  color: rgb(15, 25, 41, 74%);
  text-decoration: none;
  border-bottom: 1px solid rgb(15, 25, 41, 74%);
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 11pt;
  margin-left: 116px;
}

.profile-text svg {
  fill: rgb(219, 157, 12);
  stroke: none;
}

.profile-text:hover > svg {
  fill: rgb(15, 25, 41, 74%);
  stroke: none;
}

.profile-arrow {
  height: 17git px;
  width: 12px;
  margin-top: -2px;
  margin-left: 3px;
}

.drop-down-filter {
  margin-left: 25px;
}

.filter-cities {
  margin-left: 5px;
}
