/*--------------------------------------------*
basic style profile page
*--------------------------------------------*/
* {
  box-sizing: border-box;
}

#top-container {
  float: left;
  width: 100%;
  text-align:center;
}

/*component bodies*/
#profilePic {
  width: 35%;
  display: inline-block;
  text-align: left;
  margin-bottom: 3%;

}

#basicInformation {
  margin-bottom: 3%;
  width: 35%;
  display: inline-block;
  text-align: left;
  padding-bottom: 10px;
  vertical-align: bottom;
}

#basicInformationEdit {
  float: left;
  margin: 9% 3% 3% 0;
  width: 35%;
}

#mainInformation {
  float: left;
  width: 100%;
  overflow: hidden;
  text-align:center;
  
}

/*Global style maininfo*/
.business-info, .private-info  {
  width: 35%;
  display: inline-block;
  text-align: left;
  padding-top: 3%;
  border-top: solid 1px rgba(15, 25, 41, 0.7);

}
/*.business-info {
  margin-left: 6.5%;
  width: 34.5%;
}*/

.private-info {
  vertical-align: top;
}
.main-title {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-right: 3%;
}
/*--------------------------------------------*
additional style VIEW profile page
*--------------------------------------------*/
label.information {
  width: 240px;
}

.overflow, label.information{
  height: auto;
  overflow: auto;
  overflow-wrap: break-word;
}

.information,
label {
  font-size: 12pt;
  opacity: 0.6;
  color: #0f1929;
}

/*profile-pic style*/
.profile-image {
  border-radius: 50%;
  margin-bottom: 4%;
}
.alias-label,
.salutation-label,
.name-label {
  margin-right: 5px;
  margin-bottom: 0px;
  opacity: 0.8;
}
.name-label {
  font-size: 1.7rem;
  opacity: 0.8;
}
.salutation-label {
  font-size: 1rem;
  opacity: 0.8;
}
.alias-label {
  padding-bottom: 15%;
}
#profile-image {
  border-radius: 50%;
  margin-left: 30px;
}
.icon-button {
  background-color: transparent;
  border: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
}
#xing-button {
  padding-left: 28px;
}
.icon-button:hover {
  background-color: transparent;
  opacity: 0.5;
}
.offerings {
  display: block;
  margin-top: 15px;
  text-align: left;
  width: 240px;
  border-top: 1px solid rgba(15, 25, 41, 0.7);
}
#offerings-label {
  padding-top: 15px;
}

.value-label {
  float: right;
  width: 220px;
  margin: 0;
  padding: 0;
}

.salutation-label,
.name-label {
  margin-right: 5px;
  margin-bottom: 0px;
  opacity: 0.8;
}
.name-label {
  font-size: 1.5rem;
  opacity: 0.8;
}
.salutation-label {
  font-size: 0.8rem;
  opacity: 0.8;
}
#godfather-label {
  margin: 0;
}

/*--------------------------------------------*
additional style EDIT profile page
*--------------------------------------------*/

.business-info-edit, .private-info-edit{
  float: left;
  width: 35%;
  display: block;
  text-align: left;
  margin-right: 6%;
  padding-top: 3%;
}
.form-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #0f1929;
  opacity: 0.8;
  padding: 0;
  border-radius: 0;
  transition: none;
  height: 25px;
  margin-bottom: 10px;
  position: relative;
  width: 220px;
  margin: 0;
  padding: 0;
}
.form-control:active {
  background-color: transparent;
  border-bottom: 1px solid rgb(219, 157, 12);
}
.form-control:focus {
  background-color: transparent;
  border-bottom: 1px solid rgb(219, 157, 12);
}
.input-group-text {
  background-color: transparent;
  border: 0;
  transition: none;
  margin-bottom: 10px;
  height: 25px;
  position: relative;
  bottom: 2%;
  padding: 0;
}
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0%;
}

/*profilePic*/
.profile-image-edit {
  border-radius: 50%;
  margin-bottom: 15%;
  text-align: left;
}

.radio {
  margin-top: 3px;
}

.radio-label {
  padding-left: 5px;
  padding-right: 10px;
}

#radio-invoice {
  margin-top: 0;
  padding-left: 2%;
}

.input-field-radio {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  float: left;
  width: 220px;
}

.container-profilepic {
  margin-top: 100px;
}
#salutation-group-addon span {
  position: relative;
  top: 20%;
}
#text-area-offers {
  box-sizing: border-box;
  resize: vertical;
}

/*Buttons*/
.button-save-edit {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgb(219, 157, 12);
  color: rgb(219, 157, 12);
  padding: 0;
  border-radius: 0;
  transition: none;
  height: 32px;
  margin-bottom: 10px;
  font-size: 140%;
  float: right;
}

button-container {
  float: left;
  display: block;
}
.button-save-edit:active,
.button-save-edit:hover {
  background-color: transparent;
  border-bottom: 1px solid #0f1929;
  color: #0f1929;
}
