/*--------------------------------------------*
basic style profile page
*--------------------------------------------*/
* {
  box-sizing: border-box;
}

#profilePic {
  float: left;
  width: 28%;
  margin: 3%;
}

#basicInformation {
  float: left;
  width: 30%;
  margin: 3%;
}

#socialMedia {
  float: left;
  width: 28%;
  margin: 3%;
  height: 0;
  clear: left;
}

#mainInformation {
  float: left;
  margin: 3%;
  width: 30%;
  height: 0;
}

.profile-image {
  border-radius: 50%;
}
/*--------------------------------------------*
additional style VIEW profile page
*--------------------------------------------*/
.salutation-label,
.name-label {
  margin-right: 5px;
  margin-bottom: 0px;
}
.name-label {
  font-size: 1.5rem;
}
.salutation-label {
  font-size: 0.8rem;
}
#profilePic {
  text-align: center;
}

.value-label {
  float: right;
  position: relative;
  bottom: 31px;
  width: 20%;
  margin: 0;
  padding: 0;
}
.main-title {
  font-size: 1.2rem;
}
.icon-button {
  background-color: white;
  border: none;
}
.icon-button:hover {
  background-color: white;
}
/*--------------------------------------------*
additional style EDIT profile page
*--------------------------------------------*/
.form-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #0f1929;
  padding: 0;
  border-radius: 0;
  transition: none;
  height: 25px;
  margin-bottom: 10px;
}

.form-control:active {
  background-color: transparent;
  border-bottom: 1px solid rgb(219, 157, 12);
}

.form-control:focus {
  background-color: transparent;
  border-bottom: 1px solid rgb(219, 157, 12);
}

.input-group-text {
  background-color: transparent;
  border: 0;
  transition: none;
  margin-bottom: 10px;
  height: 25px;
  position: relative;
  bottom: 2%;
}
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0%;
}

.input-field {
  max-width: 200px;
  min-width: 200px;
}

/*toggle nav*/
.toggle-nav {
  margin-bottom: 20%;
}

.toggle-nav:focus,
.toggle-nav:hover,
.toggle-nav:active {
  font-weight: 600;
  border: none;
  border-bottom: 2px solid rgb(219, 157, 12) !important;
}

.toggle-nav-main {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #0f1929;
  border-radius: 0px;
  margin-bottom: 20px;
  transition: none;
  margin-right: 5%;
}

/*profilePic*/
.radio {
  margin: 6px 0 0 10px;
}
.radio-label {
  padding-left: 3px;
}
.input-field-salutation {
  max-width: 210px;
  min-width: 210px;
  display: flex;
  justify-content: left;
  margin-top: 10px;
}
.container-profilepic {
  margin-top: 100px;
}
#salutation-group-addon span {
  position: relative;
  top: 20%;
}
