.container {
    min-width: 575px;
}

.memberpage{
    background-color: rgb(15, 25, 41, 10%);
}

.member-card{
    border: 0px solid white;
    min-width: 340px !important;
    max-width: 340px !important;
    min-height: 215px !important;
    max-height: 215px !important;
    border-radius: 0px !important;
    margin: 10px;
}

.card-image{
    border-radius: 50%;
    width: 100px;
}

.phone-icon{
    min-width: 20px !important;
    max-width: 20px !important;
    min-height: 20px !important;
    max-height: 20px !important;
}

.mail-icon{
    min-width: 24px !important;
    max-width: 24px !important;
    min-height: 16px !important;
    max-height: 16px !important;
}

.card-name{
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Helvetica;
    font-size: 24px !important;

}

.card-text{
    margin-left: 29px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Helvetica;
    font-size: 18px !important;
}

.row-text{
    margin-bottom: 8px;
}

.row-title{
    margin-bottom: 15px;
}

.cardbody{
    border: none;
}


.profile-text{
    text-align: top;
    text-align: right;
    margin-left: 210px;
    color: rgb(219, 157, 12);
    text-decoration: underline; 
    font-family: Helvetica;
}